.container {
    display: flex;
    flex-direction: column;
    padding: 10rem 20rem;
    min-height: 100vh;

    &.dark {
        background-color: #111;
    }
}

.articles {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5rem;

    &__item {
        margin: 1.5rem 0;
    }
}

.article-card {
    &__title {
        font-weight: bold;
        color: rgb(189,54,39);
        font-size: 1.8rem;
        text-decoration: none;
        cursor: pointer;
    }

    &__byline {
        color: rgb(149, 149, 149);
        margin-top: 1rem;

        &.dark .underline {
            color: #eee;
        }

        & .underline {
            color: black;
            text-decoration: underline;

            &.dark {
                color: #eee;
            }
        }
    }
}

.nav {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 2rem;

        margin-right: 1rem;

        &.dark {
            color: #eee;
        }
    }

    &__theme {
        font-size: 3rem;
        cursor: pointer;
        padding: .5rem;
        border: 2px solid transparent;
        transition: .3s all;

        &:hover {
            border: 2px solid black;
        }

        &.dark {
            &:hover {
                border: 2px solid #eee;
            }
        }
    }
}

.user {
    &__username {
        padding-left: 2rem;
        font-size: 2.4rem;
        margin-bottom: 1rem;

        &.dark {
            color: rgb(189,54,39);
        }
    }

    &__details {

        &.dark {
            color: #eee;
        }
    }
}

.loading {
    border: 16px solid black; 
    border-top: 16px solid rgb(189,54,39); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;

    &.dark {
        border: 16px solid #444; 
        border-top: 16px solid rgb(189,54,39); 
    }

    &-div {
        align-self: center;
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > p {
            text-transform: uppercase;
            margin-top: 4rem;
            color: black;
            font-weight: 300;
            font-size: 3rem;
        }

        & > p.dark {
            color: #eee;
        }
    }
  }
  
  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(360deg); 
    }
  }

  .bold {
      font-weight: bolder;
  }